<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Več o</title>
    <link rel="stylesheet" type="text/css" href="static\style.css">
</head>
<body>
<h1>Več o</h1>
<nav> <a href="/">domov</a> <a href="\about">več o</a></nav>
<p style="font-size:120%">Stran je zgrajena na programskem jeziku Python, z uporabo Flask knjižnice.Vsi podatki so
    pridobljeni iz spletne strani
    <a href="http://www.arso.gov.si/vode/podatki/amp/H9350_t_1.html">Agencije Republike Slovenije za okolje.</a> Kot strežnik
    se uporablja <a href="https://www.pythonanywhere.com/">pythonanywhere.com</a>.
</p>
</body>
</html>
