<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Morje</title>
    <link rel="stylesheet" type="text/css" href="static\style.css">
</head>
<body>

<h1>Morje</h1>
<nav> <a href="/">domov</a>  <a href="\about">več o</a></nav>
<br>
<p style="color:#000066">PLIMA TRENUTNO</p>
<img src="\static\plima.png" alt="img" class="img_left">
<br>
<br>
<p class="p1">Slika prikazuje nivo plime v slovenskem Primorju. Nivo in temperatura vode so merjeni v Kopru.
    Stran se posodobi vsake pol ure.
</p>
<br>
<p>TEMPERATURA: {{temp}}°C</p>
</body>
</html>